// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
    padding-top: 70px;
    color: white;
 }
 
//  nav

nav a:hover {
    border-bottom: 2px solid green;
}

nav {
    background-color: #6193e8;
}

#navlink a{
    color: black;
}

.active {
    background-color: #91b5f2;
}

#btn a {
    color: white;
}

#newbtn a {
    color: white;
}


